<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmx.mapper.StudentMapper">

    <!--&lt;!&ndash; 这里的id必须和UserMapper接口中的接口方法名相同 &ndash;&gt;-->
    <!--<select id="getUser" resultType="Student" >-->
        <!--select * from Student where studentid=2-->
    <!--</select>-->
</mapper>